@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Bold.eot');
  src: local('Brandon Grotesque Bold'), local('BrandonGrotesque-Bold'),
  url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Light.eot');
  src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
  url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Medium.eot');
  src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
  url('../fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Regular.eot');
  src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
  url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
