doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Escape
  body
    div.header
      div.content
        div.navbar
          div.logo
            a.logo-link(href="#")
              img.logo-link-image(src="images/logo.png")
          nav.menu
            a.menu-item(href="#") Home
            a.menu-item(href="#") Services
            a.menu-item(href="#") Clients
            a.menu-item(href="#") Team
            a.menu-item(href="#") Contact
          div.wrapper-menu
            input(type="checkbox" id="check-menu")
            label(for="check-menu")
            div.burger-line.first
            div.burger-line.second
            div.burger-line.third
            div.burger-line.fourth
            nav.main-menu
              a.main-menu-item(href="#") Home
              a.main-menu-item(href="#") Services
              a.main-menu-item(href="#") Clients
              a.main-menu-item(href="#") Team
              a.main-menu-item(href="#") Contact
        div.container
          p.header-text Can you build the website of my dreams?
          div.header-title Yup, we can do that.
          button.button Learn More
    div.services
      div.content
        div.service-wrapper
          div.service
            div.service-info
              div.title Web
                span Development
              div.service-description
                p.service-text.
                  Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                  odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                  aenean rhoncus posuere odio in tincidunt.
                p.
                  Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                  odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim.
            div.service-picture
              img(src="images/Flow-Tree.png")
          div.service
            div.service-info.service-info-right
              div.title Identity
                span Branding
              div.service-description
                p.service-text.
                  Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
                  posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora
                  entum suscipit.
                p.
                  Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere
                  odio in tincidunt. Proin iaculis purus consequat.
            div.service-picture.service-picture-left
              img(src="images/Users.png")
        div.skills-wrapper
          div.skill
            div.skill-img
              img.skill-logo(src="images/Person-Icon.png" alt="service logo")
            div.skill-info
              div.skill-title Branding & Identity
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
          div.skill
            div.skill-img
              img(src="images/Browser-Icon.png" alt="service logo")
            div.skill-info
              div.skill-title Web & Graphic Design
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
          div.skill
            div.skill-img
              img(src="images/iPad-Icon.png" alt="service logo")
            div.skill-info
              div.skill-title Mobile App Development
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
          div.skill
            div.skill-img
              img(src="images/Video-Icon.png" alt="service logo")
            div.skill-info
              div.skill-title Animations
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
          div.skill
            div.skill-img
              img(src="images/Star-Icon.png" alt="service logo")
            div.skill-info
              div.skill-title UI/UX
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
          div.skill
            div.skill-img
              img(src="images/Camera.png" alt="service logo")
            div.skill-info
              div.skill-title Photography
              p.skill-description.
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
    div.clients
      div.content
        div.title-wrapper
          div.title Awesome
            span Clients
          div.subtitle See what nice things our clients said about us.
        div.clients-wrapper
          div.client
            div.client-photo
            div.client-blockquote
              p.quote.
                “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
              p.client-name - Jamie Richardson, Founder of Cocoa Media
          div.client
            div.client-photo.client-photo-right
            div.client-blockquote.client-blockquote-left
              p.quote.
                “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
              p.client-name - Bart Thompson, Founder of Rainel
    div.logos
      div.content
        div.logos-wrapper
          img.logo-img(src="images/Envato.png" alt="Envato logo")
          img.logo-img(src="images/WordPress.png" alt="Word Press logo")
          img.logo-img(src="images/Tuts+.png" alt="Tuts+ logo")
          img.logo-img(src="images/Microlancer.png" alt="Microlancer logo")
    div.team
      div.content
        div.title-wrapper
          div.title.team-title Amazing
            span Team
          div.subtitle These wonderful people make work enjoyable.
        div.team-wrapper
          div.team-member
            div.team-member-photo
              img(src="#" alt="team member photo")
            div.team-member-name Kimberly Thompson
            div.team-member-profession Marketer
            div.team-member-social
              a.member-social-link
                img(src="images/Twitter.png" alt="Social logo")
              a.member-social-link
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link
                img(src="images/Pinterest.png" alt="Social logo")
          div.team-member
            div.team-member-photo
              img(src="#" alt="team member photo")
            div.team-member-name Rico Massimo
            div.team-member-profession Coder
            div.team-member-social
              a.member-social-link
                img(src="images/Twitter.png" alt="Social logo")
              a.member-social-link
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link
                img(src="images/Google+.png" alt="Social logo")
          div.team-member
            div.team-member-photo
              img(src="#" alt="team member photo")
            div.team-member-name Uku Mason
            div.team-member-profession Graphic Designer
            div.team-member-social
              a.member-social-link
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link
                img(src="images/Pinterest.png" alt="Social logo")
        div.team-description.
          Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit
          aenean rhoncus posuere odio in tincidunt proin iaculis.
    div.contact-us
      div.content
        div.contact-us-wrapper
          div.content-left
            div.title-wrapper.contact-us-title-wrapper
              div.title.contact-us-title Say
                span Hello
              div.subtitle.contact-us-subtitle Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
            div.contacts
              div.contacts-left
                a.contact.bg-mobile(href="#") (416) 555-0000
                a.contact.bg-tw(href="#") @escape
                a.contact.bg-g(href="#") plus.com/escape
              div.contacts-right
                a.contact.bg-email(href="#") hello@escape.com
                a.contact.bg-fb(href="#") facebook.com/escape
                a.contact.bg-pin(href="#") pinterest.com/escape
          div.content-right
            form.contact-form
              input.form-input(type="name" placeholder="Your Name *")
              input.form-input(type="email" placeholder="Your E-mail *")
              textarea(placeholder="Your Message *")
    div.footer
      div.content
        div.footer-wrapper
          p &copy 2014 Escape by FreebiesXpress • Made In Toronto
