doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Escape
  body
    div.header
      div.content
        div.navbar
          div.logo
            a.logo-link(href="#")
              img.logo-link-image(src="images/logo.png")
          nav.menu
            a.menu-item(href="#") Home
            a.menu-item(href="#") Services
            a.menu-item(href="#") Clients
            a.menu-item(href="#") Team
            a.menu-item(href="#") Contact
          div.wrapper-menu
            input(type="checkbox" id="check-menu")
            label(for="check-menu")
            div.burger-line.first
            div.burger-line.second
            div.burger-line.third
            div.burger-line.fourth
            nav.main-menu
              a.main-menu-item(href="#") Home
              a.main-menu-item(href="#") Services
              a.main-menu-item(href="#") Clients
              a.main-menu-item(href="#") Team
              a.main-menu-item(href="#") Contact
        div.container
          p.header-text Can you build the website of my dreams?
          div.header-title Yup, we can do that.
          button.button Learn More

